@import '../../styles/mixin.scss';

.header {
  min-height: 91px;
  background-color: #F6F7FF;
  display: flex;
  justify-content: center;
  min-width: 303px;

  @include tablet {
    min-height: 69px;
  }

  @include mobile {
    min-height: 48px;
  }

  img {
    margin-top: 27px;
    margin-left: 4px;
    width: 150px;
    height: 27px;

    @include tablet {
      margin-top: 23px;
      margin-left: 39px;
      width: 134px;
      height: 24px;
    }

    @include mobile {
      margin-top: 15px;
      margin-left: 0;
      width: 116px;
      height: 19px;
    }
  }
}

.header__wrapper {
  width: 100%;
  height: 100%;
  min-width: 1007px;
  max-width: 1180px;
  margin: 0 5px;
  display: flex;

  @include tablet {
    min-width: 751px;
  }

  @include mobile {
    min-width: 303px;
  }
}

.header__menu-button {
  cursor: pointer;
  display: none;
  width: 16px;
  height: 12px;
  background-image: url('./menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-top: 18px;
  margin-left: 11px;

  @include mobile {
    display: block;
  }

  @include mobile {
    margin-right: 12px;

    @-moz-document url-prefix() {
      margin-right: 16px;
    }
  }
}

.header__menu {
  display: flex;
  width: 100%;

  @include mobile {
    flex-direction: column;
  }
}

.header__navigation {
  margin-top: 38px;
  margin-left: 109px;
  max-width: 501px;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    margin-top: 31px;
    margin-left: 66px;

    @-moz-document url-prefix() {
      margin-top: 29px;
    }
  }

  @include mobile {
    display: none;
  }

  a {
    margin-right: 25px;
    margin-bottom: 20px;
    color: #1F1E25;

    @include tablet {
      margin-right: 21px;
      font-size: 14px;
    }
  }

  a:hover {
    color: #2C36F2;
  }
}

.header__login {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: 5px;

  @include tablet {
    margin-right: 10px;
  }
}

.header__login-link-icon {
  display: block;
  width: 20px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./login.svg');
  position: absolute;
  top: 35px;
  left: -203px;

  &::after {
    content: 'Войти в интернет банк';
    position: absolute;
    width: 171px;
    left: 32px;
    top: 3px;
    color: #1F1E25;
  }

  @include tablet {
    top: 23px;
    left: -50px;

    &::after {
      display: none;
    }
  }

  @include mobile {
    top: 15px;
    width: 14px;
    height: 16px;
    background-size: contain;
    left: -14px;
  }
}

.header__login-link-icon:hover::after {
  color: #2C36F2;
  transition: 0.2s;
}

.header__close-menu-button {
  cursor: pointer;
  display: none;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./cross.svg');
  border: none;
  margin-top: 16px;
  background-color: transparent;
  margin-left: auto;
  margin-right: 9px;
}

.header--menu-opened {
  @include mobile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: scroll;

    .header__wrapper {
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .header__navigation {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      max-width: 100%;
      margin-top: 46px;

      a {
        margin-right: 0;
        display: flex;
        align-items: center;
        min-height: 60px;
        border-bottom: 1px solid #C1C2CA;
        margin-bottom: 0;
        font-size: 16px;
        padding-left: 15px;
      }

      a:first-child {
        border-top: 1px solid #C1C2CA;
      }
    }

    .header__login {
      margin-left: 0;
      margin-right: 0;
      min-height: 60px;
    }

    .header__login-link {
      display: inline;
      margin-top: 0;
      font-size: 14px;
      margin-right: 0;
      display: flex;
      align-items: center;
      min-height: 60px;
      border-bottom: 1px solid #C1C2CA;
      margin-bottom: 0;
      flex-grow: 1;
      font-size: 16px;
      padding-left: 45px;
    }

    .header__login-link-icon {
      top: 18px;
      left: 15px;
      width: 20px;
      height: 22px;
    }

    .header__close-menu-button {
      display: block;
    }

    .header__menu {
      padding: 0 10px;
    }
  }
}
