@import '../../styles/mixin.scss';

.tab {
  min-height: 410px;
  display: flex;
  align-items: flex-start;
  padding: 55px 71px;
  padding-bottom: 30px;

  @include tablet {
    min-height: 380px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include mobile {
    min-height: 362px;
    padding-left: 15px;
    padding-right: 0;
  }

  picture {
    @include mobile {
      position: absolute;
      right: 0;
      top: 94px;
      z-index: -1;
    }
  }

  p {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 28px;

    @-moz-document url-prefix() {
      margin-bottom: 25px;
    }

    @include tablet {
      font-size: 18px;
      margin-bottom: 26px;

      @-moz-document url-prefix() {
        margin-bottom: 23px;
      }
    }

    @include mobile {
      font-size: 16px;
      margin-bottom: 22px;

      @-moz-document url-prefix() {
        margin-bottom: 20px;
      }
    }
  }

  p:last-child {
    font-size: 18px;
    line-height: 140%;
    font-weight: normal;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  ul {
    list-style: url('./list_item_icon.svg');
    font-size: 18px;
    line-height: 130%;
    padding-left: 20px;
    margin-bottom: 34px;

    @include tablet {
      font-size: 16px;
      margin-bottom: 31px;
    }

    @include mobile {
      font-size: 14px;
      width: 232px;
      list-style: url('./list_item_icon_mobile.svg');
      padding-left: 15px;
      margin-bottom: 24px;
    }
  }

  li {
    margin-bottom: 15px;

    @include mobile {
      margin-bottom: 12px;
    }
  }

  img {
    margin-left: 133px;
    margin-top: 5px;

    @include tablet {
      margin-left: 0;
    }
  }
}

.tab__description {
  width: 391px;

  @include tablet {
    width: 100%;
    padding-right: 33px;
  }

  @include mobile {
    padding-right: 16px;
  }

  button {
    cursor: pointer;
    width: 198px;
    min-height: 51px;
    background: #2C36F2;
    border-radius: 4px;
    color: #F6F7FF;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;

    @include tablet {
      min-height: 48px;
    }

    @include mobile {
      width: 290px;
      min-height: 43px;
      font-size: 14px;
    }
  }

  button:hover {
    background: darken(#2C36F2, 10%);
  }

  a {
    font-weight: 500;
    color: #1F1E25;
    text-decoration: underline;
  }

  a:hover {
    color: #2C36F2;
  }
}
