@import '../../styles/mixin.scss';

.footer {
  width: 100%;
  min-height: 224px;
  background-color: #F6F7FF;
  margin-top: 106px;
  padding-top: 48px;

  @include tablet {
    min-height: 350px;
    margin-top: 80px;
    padding: 47px 40px;
  }

  @include mobile {
    min-height: 412px;
    padding: 32px 15px;
    margin-top: 37px;
    padding-left: 7px;
  }

  img {
    width: 150px;
    height: 27px;

    @include tablet {
      width: 134px;
      height: 24px;
    }

    @include mobile {
      width: 116px;
      height: 19px;
    }
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
  }

  .footer__logo {
    margin-right: 149px;

    @include tablet {
      display: flex;
      margin-bottom: 0;
    }
  }

  a:hover {
    color: #2C36F2;
  }

  p {
    font-size: 12px;
    line-height: 17.8px;
    color: #707C87;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-top: 8px;

    @include tablet {
      padding-top: 29px;
    }

    @include mobile {
      padding-top: 22px;
      padding-left: 3px;
    }
  }

  picture {
    margin-right: 184px;
  }
}

.footer__wrapper {
  display: flex;
  width: 100%;
  max-width: 1180px;
  padding: 0 5px;
  margin: 0 auto;

  @include tablet {
    padding-right: 20px;
  }

  @include mobile {
    flex-direction: column;
    padding-right: 0;
  }
}

.footer__links {
  position: relative;
  width: 100%;
  max-width: 575px;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    max-width: 280px;
  }

  p {
    position: absolute;
    top: 31px;
    max-width: 255px;

    @-moz-document url-prefix() {
      line-height: 16.8px;
    }

    @include tablet {
      position: static;
      margin-top: 17px;

      @-moz-document url-prefix() {
        margin-top: 15px;
        line-height: 16.8px;
      }
    }

    @include mobile {
      display: none;
    }
  }

  a {
    margin-bottom: 9px;

    @-moz-document url-prefix() {
      margin-bottom: 8px;
    }

    @include tablet {
      @-moz-document url-prefix() {
        margin-bottom: 9px;
      }
    }

    @include mobile {
      font-size: 14px;
      margin-bottom: 10px;

      @-moz-document url-prefix() {
        margin-bottom: 9px;
      }
    }
  }
}

.footer__contacts {
  display: flex;
  padding-left: 12px;
  padding-top: 10px;

  @include tablet {
    flex-direction: column;
    margin-left: auto;
    padding-top: 8px;
  }

  @include mobile {
    padding-top: 11px;
    padding-left: 32px;
    margin-left: 0;
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-bottom: 9px;
  }

  @include mobile {
    padding-right: 90px;
    margin-bottom: 4px;
  }

  a {
    position: relative;
  }

  a:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    left: -33px;
    top: 1px;

    @include tablet {
      top: 2px;
    }
  }

  p {
    margin-top: 2px;
    max-width: 167px;

    @-moz-document url-prefix() {
      margin-top: 0px;
    }

    @include mobile {
      margin-top: 0;
      max-width: 100%;
      @-moz-document url-prefix() {
        margin-bottom: 11px;
      }
    }
  }
}

.footer__contact:nth-child(1) {
  margin-right: 113px;

  @include mobile {
    margin-right: 0;
  }

  a:before {
    background-image: url('./mobile_phone_icon.svg');
  }
}

.footer__contact:nth-child(2) {
  margin-right: 31px;

  @include tablet {
    padding-left: 4px;
  }

  @include mobile {
    margin-right: 0;
  }

  a {
    display: block;
    min-width: 116px;
  }

  a:before {
    background-image: url('./phone_icon.svg');
  }
}

.footer__social {
  display: flex;
  padding-top: 2px;
  flex-wrap: wrap;
  min-width: 103px;
  max-width: 103px;
  align-content: flex-start;

  @include tablet {
    margin-left: -32px;
    max-width: 118px;
  }
}

.footer__social-link {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 13px;
  margin-bottom: 10px;

  @include tablet {
    margin-right: 18px;
  }
}

.footer__social-link:nth-child(4n) {
  margin-right: 0;
}

.footer__social-link--facebook {
  background-image: url('./facebook_icon.svg');
}

.footer__social-link--instagramm {
  background-image: url('./instagramm_icon.svg');
}

.footer__social-link--twitter {
  background-image: url('./twitter_icon.svg');
}

.footer__social-link--youtube {
  background-image: url('./youtube_icon.svg');
}
